/* APPEAR FADE */
.eacss .appear .fade, .eacss .appear .upwards {
    -webkit-transition: all .5s;
    transition: all .5s
}
.eacss .appear .fade {
    opacity: 0
}
.eacss .appear .upwards {
    -webkit-transform: translateY(50px);
    transform: translateY(50px)
}
.eacss .appear.on .fade {
    opacity: 1
}
.eacss .appear.on .upwards {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
/* DELAY */
.eacss .td-1 {transition-delay: 0.1s;}
.eacss .td-2 {transition-delay: 0.2s;}
.eacss .td-3 {transition-delay: 0.3s;}
.eacss .td-5 {transition-delay: 0.5s;}
.eacss .td-6 {transition-delay: 0.6s;}
.eacss .td-7 {transition-delay: 0.7s;}
.eacss .td-8 {transition-delay: 0.8s;}
.eacss .td-9 {transition-delay: 0.9s;}
.eacss .td-10 {transition-delay: 1s;}
