.eacss [class*="cta-"] {
	transition: 0.4s;
	text-align: center;
	display: inline-block;
	margin: 5px;
	text-decoration: none;
	font-family: 'Circular', sans-serif;
	border-radius: 7px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 500;
	white-space: nowrap;
}
/*-- CTA SOLID --*/
.eacss [class^="cta-solid"] {
	padding: 11px 21px;
	color: #fff;
	background: #101116;
}
.eacss [class^="cta-solid"]:hover,
.eacss a:hover [class^="cta-solid"] {
	color: #101116;
	background: #fff;
}
.eacss [class^="cta-solid"][style*="background-"]:hover,
.eacss a:hover [class^="cta-solid"][style*="background-"] {
	background: #fff !important;
}
/*-- CTA SOLID-WHITE --*/
.eacss .white [class^="cta-solid"],
.eacss [class*="cta-solid-white"] {
	color: #101116;
	background: #fff;
}
.eacss .white [class^="cta-solid"]:hover,
.eacss [class^="cta-solid-white"]:hover,
.eacss .white a:hover [class^="cta-solid"],
.eacss a:hover [class^="cta-solid-white"] {
	color: #fff;
	background: #101116;
}
.eacss .white [class^="cta-solid"][style*="background-"]:hover,
.eacss [class^="cta-solid-white"][style*="background-"]:hover,
.eacss .white a:hover [class^="cta-solid"][style*="background-"],
.eacss a:hover [class^="cta-solid-white"][style*="background-"] {
	background: #101116 !important;
}
/*-- CTA SOLID B2G --*/
.eacss .cta-solid-b2g:hover,
.eacss a:hover .cta-solid-b2g {
	background: #ddd;
}
.eacss .white .cta-solid-b2g:hover,
.eacss .cta-solid-white-b2g:hover,
.eacss .white a:hover .cta-solid-b2g,
.eacss a:hover .cta-solid-white-b2g {
	background: #555;
}
.eacss .white .cta-solid-b2g[style*="background-"]:hover,
.eacss .cta-solid-white-b2g[style*="background-"]:hover,
.eacss .white a:hover .cta-solid-b2g[style*="background-"],
.eacss a:hover .cta-solid-white-b2g[style*="background-"] {
	background: #555 !important;
}
/*-- CTA BORDER --*/
.eacss [class^="cta-border"] {
	padding: 9px 19px;
	color: #101116;
	border: 1.5px solid #101116;
}
.eacss [class^="cta-border"]:hover,
.eacss a:hover [class^="cta-border"] {
	color: #fff;
	background: #101116;
}
.eacss [class^="cta-border"][style*="color"]:hover,
.eacss a:hover [class^="cta-border"][style*="color"] {
	color: #fff !important;
}
/*-- CTA BORDER WHITE --*/
.eacss .white [class^="cta-border"],
.eacss [class^="cta-border-white"] {
	color: #fff;
	border-color: #fff;
}
.eacss .white [class^="cta-border"]:hover,
.eacss [class^="cta-border-white"]:hover,
.eacss .white a:hover [class^="cta-border"],
.eacss a:hover [class^="cta-border-white"] {
	color: #101116;
	background: #fff;
}
.eacss .white [class^="cta-border"][style*="color"]:hover,
.eacss [class^="cta-border-white"][style*="color"]:hover,
.eacss .white a:hover [class^="cta-border"][style*="color"],
.eacss a:hover [class^="cta-border-white"][style*="color"] {
	color: #101116!important;
}
/*-- CTA BORDER B2G --*/
.eacss .cta-border-b2g:hover,
.eacss a:hover .cta-border-b2g {
	background: #555;
	border-color: #fff;
}
.eacss .white .cta-border-b2g:hover,
.eacss .cta-border-white-b2g:hover,
.eacss .white a:hover .cta-border-b2g,
.eacss a:hover .cta-border-white-b2g {
	color: #101116;
	background: #ddd;
	border-color: #101116;
}
.eacss .white .cta-border-b2g[style*="color"]:hover,
.eacss .cta-border-white-b2g[style*="color"]:hover,
.eacss .white a:hover .cta-border-b2g[style*="color"],
.eacss a:hover .cta-border-white-b2g[style*="color"] {
	color: #101116!important;
}
/*-- CTA ARROW --*/
.eacss [class^="cta-solid"].cta-arrow:after,
.eacss [class^="cta-border"].cta-arrow:after {
    content: '';
    font-family: 'dj-icons';
    font-weight: bolder;
    font-size: .95em;
    line-height: 0;
    position: relative;
    top: 0.16em;
    margin: 0 -10px 0 4px;
    -webkit-font-smoothing: antialiased;
}
/*-- CTA ARROW L --*/
.eacss .cta-arrow-l[class^="cta-solid"]:before,
.eacss .cta-arrow-l[class^="cta-border"]:before {
    content: '';
    font-family: 'dj-icons';
    font-weight: bolder;
    font-size: .95em;
    line-height: 0;
    position: relative;
    top: 0.16em;
    margin: 0 4px 0 -10px;
    -webkit-font-smoothing: antialiased;
}

/*-- CTA UNDERLINE --*/
.eacss [class^="cta-ul"] {
	position: relative;
	border-radius: 0;
	margin: 10px;
}
.eacss .cta-ul {
	color: #101116;
	border-bottom: 1px solid rgba(0,0,0,1);
	border-radius: 0;
}
.eacss .cta-ul:hover,
.eacss a:hover .cta-ul {
	border-color: rgba(0,0,0,0.3);
}
.eacss .cta-ul[style*="color"]:hover,
.eacss a:hover .cta-ul[style*="color"] {
	border-color: rgba(0,0,0,0.3) !important;
}
/*-- CTA's UNDERLINE WHITE --*/
.eacss .white .cta-ul,
.eacss .cta-ul-white {
	color: #ffffff;
	border-bottom: 1px solid rgba(255,255,255,1);
	border-radius: 0;
}
.eacss .white .cta-ul:hover,
.eacss .cta-ul-white:hover,
.eacss .white a:hover .cta-ul,
.eacss a:hover .cta-ul-white {
	border-color: rgba(255,255,255,0.3);
}
.eacss .white .cta-ul[style*="color"]:hover,
.eacss .cta-ul-white[style*="color"]:hover,
.eacss .white a:hover .cta-ul[style*="color"],
.eacss a:hover .cta-ul-white[style*="color"] {
	border-color: rgba(255,255,255,0.3) !important;
}
/*-- CTA's UNDERLINE ANIMATED --*/
.eacss [class^="cta-ul-an"]:before {
	bottom: 0;
	content: "";
	display: block;
	height: 1px;
	left: 50%;
	position: absolute;
	background: #101116;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.eacss .white .cta-ul-an,
.eacss .cta-ul-an-white {
	color: #ffffff;
}
.eacss .white .cta-ul-an:before,
.eacss .cta-ul-an-white:before {
	background: #ffffff;
}
.eacss [class^="cta-ul-an"]:hover:before,
.eacss a:hover [class^="cta-ul-an"]:before { 
	width: 100%; 
	left: 0; 
}
/*-- CTA's UNDERLINE WITH ARROW --*/
.eacss .cta-arrow[class^="cta-ul"]:after {
    content: '';
    font-family: 'dj-icons';
    font-weight: bolder;
    font-size: .95em;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
	position: absolute;
	top: 0.9em;
	right: -1.3em;
	margin: 0;
}
/*-- CTA's UNDERLINE WITH ARROW L --*/
.eacss .cta-arrow-l[class^="cta-ul"]:after {
    content: '';
    font-family: 'dj-icons';
    font-weight: bolder;
    font-size: .95em;
    line-height: 0;
    -webkit-font-smoothing: antialiased;
	position: absolute;
	top: 0.9em;
	left: -1.3em;
	margin: 0;
}
/*-- CTA SHADOW --*/
.eacss .cta-shadow {
	box-shadow: 0px 5px 10px rgba(0,0,0,.1);
}
.eacss .cta-shadow:hover,
.eacss a:hover .cta-shadow {
	box-shadow: 0px 7px 15px rgba(0,0,0,.2);
}
/*-- CTA's CUSTOM SIZING --*/
.eacss .cta-small {
	padding: 8px 16px;
	font-size: 12px;
}
.eacss [class^="cta-border"].cta-small {
	padding: 7px 15px;
}
.eacss .cta-mini {
	padding: 6px 12px;
	font-size: 11px;
}
.eacss [class^="cta-border"].cta-mini {
	padding: 5px 11px;
}
.eacss .cta-large {
	padding: 12px 25px;
	font-size: 15px;
}
.eacss [class^="cta-border"].cta-large {
	padding: 11px 24px;
}
.eacss .cta-huge {
	padding: 18px 28px;
	font-size: 16px;
}
.eacss [class^="cta-border"].cta-huge {
	padding: 17px 27px;
}
/* CTA MIN WIDTH */
.eacss [class*=cta-mw] {
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
}
.eacss .cta-mw-500 {
	max-width: 500px
}
.eacss .cta-mw-450 {
	max-width: 450px
}
.eacss .cta-mw-400 {
	max-width: 400px
}
.eacss .cta-mw-350 {
	max-width: 350px
}
.eacss .cta-mw-300 {
	max-width: 300px
}
.eacss .cta-mw-280 {
	max-width: 280px
}
.eacss .cta-mw-260 {
	max-width: 260px
}
.eacss .cta-mw-250 {
	max-width: 250px
}
.eacss .cta-mw-240 {
	max-width: 240px
}
.eacss .cta-mw-220 {
	max-width: 220px
}
.eacss .cta-mw-200 {
	max-width: 200px
}
.eacss .cta-mw-190 {
	max-width: 190px
}
.eacss .cta-mw-180 {
	max-width: 180px
}
.eacss .cta-mw-170 {
	max-width: 170px
}
.eacss .cta-mw-160 {
	max-width: 160px
}
.eacss .cta-mw-150 {
	max-width: 150px
}
.eacss .cta-mw-140 {
	max-width: 140px
}
.eacss .cta-mw-130 {
	max-width: 130px
}
.eacss .cta-mw-120 {
	max-width: 120px
}
.eacss .cta-mw-110 {
	max-width: 110px
}
.eacss .cta-mw-100 {
	max-width: 100px
}
.eacss .cta-mw-90 {
	max-width: 90px
}
.eacss .cta-mw-80 {
	max-width: 80px
}
.eacss .cta-mw-70 {
	max-width: 70px
}
.eacss .cta-mw-60 {
	max-width: 60px
}
.eacss .cta-mw-50 {
	max-width: 50px
}
.eacss .cta-mw-40 {
	max-width: 40px
}
.eacss .cta-mw-45 {
	max-width: 45px
}
.eacss .cta-mw-40 {
	max-width: 40px
}
.eacss .cta-mw-35 {
	max-width: 35px
}
.eacss .cta-mw-30 {
	max-width: 30px
}
.eacss .cta-mw-25 {
	max-width: 25px
}
.eacss .cta-mw-20 {
	max-width: 20px
}
.eacss .cta-mw-15 {
	max-width: 15px
}
.eacss .cta-mw-10 {
	max-width: 10px
}
.eacss .cta-mw-5 {
	max-width: 5px
}
.eacss .cta-wid-a,
.eacss .cta-w-a {
	max-width: 100%;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.eacss .cta-wid-100,
.eacss .cta-w-100,
.eacss .wid-100[class^=cta-] {
	max-width: none;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.eacss .t-align-l [class*="cta-"] {
	margin-right: 10px;
	margin-left: 0;
}
.eacss .t-align-r [class*="cta-"] {
	margin-right: 0;
	margin-left: 10px;
}
.eacss .t-align-l [class^="cta-ul"] {
	margin-right: 20px;
	margin-left: 0;
}
.eacss .t-align-r [class^="cta-ul"] {
	margin-right: 0;
	margin-left: 20px;
}

.focus {
	cursor: pointer;
}

.eacss .disabled,
.eacss .inactive,
.eacss [class*="cta-"].disabled,
.eacss [class*="cta-"].inactive,
.eacss [class*="cta-"].off {
	opacity: .1;
	cursor: default;
	pointer-events: none;
}