.eacss .smooth { -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased; }
.eacss .academica { font-family: "Academica Light", serif;
    font-size: 15px; }
.eacss .arial { font-family: "Arial", sans-serif;
    font-size: 15px; }
.eacss .helvetica { font-family: "Helvetica", sans-serif;
    font-size: 15px; }
.eacss .mono,
.eacss .code { font-family: monospace;
    font-size: 15px; }
.eacss a { color: inherit;
    outline: none !important; }
.eacss .underline,
.eacss a.underline { text-decoration: underline 1px !important;
    text-underline-offset: .17em !important; }
.eacss .decor-no { text-decoration: none; }
.eacss .decor-no:hover,
.eacss a:hover { text-decoration: none !important; }
.eacss .lighter,
.eacss .fw-1 { font-weight: 100; }
.eacss .light,
.eacss .fw-2 { font-weight: 200; }
.eacss .unbold,
.eacss .book,
.eacss .fw-3 { font-weight: 300; }
.eacss .fw-35 { font-weight: 350; }
.eacss .medium,
.eacss .fw-4 { font-weight: 400; }
.eacss .fw-5 { font-weight: 500; }
.eacss .bold,
strong,
b,
.eacss .fw-6 { font-weight: 600; }
.eacss .bolder,
.eacss .fw-7 { font-weight: 700; }
.eacss .fw-8 { font-weight: 800; }
.eacss .italic,
em,
i { font-style: italic; }
.eacss .caps { text-transform: uppercase; }
.eacss .txt-shad-black { text-shadow: 1px 1px 0px #000; }
.eacss .txt-shad-white { text-shadow: 1px 1px 0px #fff; }
.eacss .txt-shad-white-50 { text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5); }
.eacss .txt-shad-1 { text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); }
.eacss .numbers { font-size: 110%; }
.eacss p { margin-top: 0;
    margin-bottom: 15px; }
.eacss .fs-h1,
.eacss .fs-h25,
.eacss .fs-h2,
.eacss .fs-h35,
.eacss .fs-h3,
.eacss .fs-h45,
.eacss .fs-h4,
.eacss .fs-h55,
.eacss .fs-h5,
.eacss .fs-h6,
.eacss h1,
.eacss h2,
.eacss h3,
.eacss h4,
.eacss h5,
.eacss h6 { font-weight: 200;
    margin-top: 0;
    margin-bottom: 15px; }
.eacss .fs-h1,
.eacss h1 { font-size: 60px;
    line-height: 65px; }
.eacss .fs-h25 { font-size: 45px;
    line-height: 50px; }
.eacss .fs-h2,
.eacss h2 { font-size: 40px;
    line-height: 45px; }
.eacss .fs-h35 { font-size: 35px;
    line-height: 40px; }
.eacss .fs-h3,
.eacss h3 { font-size: 30px;
    line-height: 35px; }
.eacss .fs-h45 { font-size: 25px;
    line-height: 30px; }
.eacss .fs-h4,
.eacss h4 { font-size: 20px;
    line-height: 25px; }
.eacss .fs-h55 { font-size: 17px;
    line-height: 22px; }
.eacss .fs-h5,
.eacss h5 { font-family: "Circular", sans-serif;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.15em;
    font-weight: 500;
    text-transform: uppercase; }
.eacss .fs-h6,
.eacss h6 { font-family: "Circular", sans-serif;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.15em;
    font-weight: 500;
    text-transform: uppercase; }
.eacss .fs-100 { font-size: 100px; }
.eacss .fs-99 { font-size: 99px; }
.eacss .fs-98 { font-size: 98px; }
.eacss .fs-97 { font-size: 97px; }
.eacss .fs-96 { font-size: 96px; }
.eacss .fs-95 { font-size: 95px; }
.eacss .fs-94 { font-size: 94px; }
.eacss .fs-93 { font-size: 93px; }
.eacss .fs-92 { font-size: 92px; }
.eacss .fs-91 { font-size: 91px; }
.eacss .fs-90 { font-size: 90px; }
.eacss .fs-89 { font-size: 89px; }
.eacss .fs-88 { font-size: 88px; }
.eacss .fs-87 { font-size: 87px; }
.eacss .fs-86 { font-size: 86px; }
.eacss .fs-85 { font-size: 85px; }
.eacss .fs-84 { font-size: 84px; }
.eacss .fs-83 { font-size: 83px; }
.eacss .fs-82 { font-size: 82px; }
.eacss .fs-81 { font-size: 81px; }
.eacss .fs-80 { font-size: 80px; }
.eacss .fs-79 { font-size: 79px; }
.eacss .fs-78 { font-size: 78px; }
.eacss .fs-77 { font-size: 77px; }
.eacss .fs-76 { font-size: 76px; }
.eacss .fs-75 { font-size: 75px; }
.eacss .fs-74 { font-size: 74px; }
.eacss .fs-73 { font-size: 73px; }
.eacss .fs-72 { font-size: 72px; }
.eacss .fs-71 { font-size: 71px; }
.eacss .fs-70 { font-size: 70px; }
.eacss .fs-69 { font-size: 69px; }
.eacss .fs-68 { font-size: 68px; }
.eacss .fs-67 { font-size: 67px; }
.eacss .fs-66 { font-size: 66px; }
.eacss .fs-65 { font-size: 65px; }
.eacss .fs-64 { font-size: 64px; }
.eacss .fs-63 { font-size: 63px; }
.eacss .fs-62 { font-size: 62px; }
.eacss .fs-61 { font-size: 61px; }
.eacss .fs-60 { font-size: 60px; }
.eacss .fs-59 { font-size: 59px; }
.eacss .fs-58 { font-size: 58px; }
.eacss .fs-57 { font-size: 57px; }
.eacss .fs-56 { font-size: 56px; }
.eacss .fs-55 { font-size: 55px; }
.eacss .fs-54 { font-size: 54px; }
.eacss .fs-53 { font-size: 53px; }
.eacss .fs-52 { font-size: 52px; }
.eacss .fs-51 { font-size: 51px; }
.eacss .fs-50 { font-size: 50px; }
.eacss .fs-49 { font-size: 49px; }
.eacss .fs-48 { font-size: 48px; }
.eacss .fs-47 { font-size: 47px; }
.eacss .fs-46 { font-size: 46px; }
.eacss .fs-45 { font-size: 45px; }
.eacss .fs-44 { font-size: 44px; }
.eacss .fs-43 { font-size: 43px; }
.eacss .fs-42 { font-size: 42px; }
.eacss .fs-41 { font-size: 41px; }
.eacss .fs-40 { font-size: 40px; }
.eacss .fs-39 { font-size: 39px; }
.eacss .fs-38 { font-size: 38px; }
.eacss .fs-37 { font-size: 37px; }
.eacss .fs-36 { font-size: 36px; }
.eacss .fs-35 { font-size: 35px; }
.eacss .fs-34 { font-size: 34px; }
.eacss .fs-33 { font-size: 33px; }
.eacss .fs-32 { font-size: 32px; }
.eacss .fs-31 { font-size: 31px; }
.eacss .fs-30 { font-size: 30px; }
.eacss .fs-29 { font-size: 29px; }
.eacss .fs-28 { font-size: 28px; }
.eacss .fs-27 { font-size: 27px; }
.eacss .fs-26 { font-size: 26px; }
.eacss .fs-25 { font-size: 25px; }
.eacss .fs-24 { font-size: 24px; }
.eacss .fs-23 { font-size: 23px; }
.eacss .fs-22 { font-size: 22px; }
.eacss .fs-21 { font-size: 21px; }
.eacss .fs-20 { font-size: 20px; }
.eacss .fs-19 { font-size: 19px; }
.eacss .fs-18 { font-size: 18px; }
.eacss .fs-17 { font-size: 17px; }
.eacss .fs-16 { font-size: 16px; }
.eacss .fs-15 { font-size: 15px; }
.eacss .fs-14 { font-size: 14px; }
.eacss .fs-13 { font-size: 13px; }
.eacss .fs-12 { font-size: 12px; }
.eacss .fs-11 { font-size: 11px; }
.eacss .fs-10 { font-size: 10px; }
.eacss .fs-9 { font-size: 9px; }
.eacss .fs-8 { font-size: 8px; }
.eacss .fs-7 { font-size: 7px; }
.eacss .fs-6 { font-size: 6px; }
.eacss .fs-5 { font-size: 5px; }
.eacss .fs-4 { font-size: 4px; }
.eacss .fs-3 { font-size: 3px; }
.eacss .fs-2 { font-size: 2px; }
.eacss .fs-1 { font-size: 1px; }
/* LINE HEIGHT */
.eacss .lh-100 { line-height: 100px }
.eacss .lh-99 { line-height: 99px }
.eacss .lh-98 { line-height: 98px }
.eacss .lh-97 { line-height: 97px }
.eacss .lh-96 { line-height: 96px }
.eacss .lh-95 { line-height: 95px }
.eacss .lh-94 { line-height: 94px }
.eacss .lh-93 { line-height: 93px }
.eacss .lh-92 { line-height: 92px }
.eacss .lh-91 { line-height: 91px }
.eacss .lh-90 { line-height: 90px }
.eacss .lh-89 { line-height: 89px }
.eacss .lh-88 { line-height: 88px }
.eacss .lh-87 { line-height: 87px }
.eacss .lh-86 { line-height: 86px }
.eacss .lh-85 { line-height: 85px }
.eacss .lh-84 { line-height: 84px }
.eacss .lh-83 { line-height: 83px }
.eacss .lh-82 { line-height: 82px }
.eacss .lh-81 { line-height: 81px }
.eacss .lh-80 { line-height: 80px }
.eacss .lh-79 { line-height: 79px }
.eacss .lh-78 { line-height: 78px }
.eacss .lh-77 { line-height: 77px }
.eacss .lh-76 { line-height: 76px }
.eacss .lh-75 { line-height: 75px }
.eacss .lh-74 { line-height: 74px }
.eacss .lh-73 { line-height: 73px }
.eacss .lh-72 { line-height: 72px }
.eacss .lh-71 { line-height: 71px }
.eacss .lh-70 { line-height: 70px }
.eacss .lh-69 { line-height: 69px }
.eacss .lh-68 { line-height: 68px }
.eacss .lh-67 { line-height: 67px }
.eacss .lh-66 { line-height: 66px }
.eacss .lh-65 { line-height: 65px }
.eacss .lh-64 { line-height: 64px }
.eacss .lh-63 { line-height: 63px }
.eacss .lh-62 { line-height: 62px }
.eacss .lh-61 { line-height: 61px }
.eacss .lh-60 { line-height: 60px }
.eacss .lh-59 { line-height: 59px }
.eacss .lh-58 { line-height: 58px }
.eacss .lh-57 { line-height: 57px }
.eacss .lh-56 { line-height: 56px }
.eacss .lh-55 { line-height: 55px }
.eacss .lh-54 { line-height: 54px }
.eacss .lh-53 { line-height: 53px }
.eacss .lh-52 { line-height: 52px }
.eacss .lh-51 { line-height: 51px }
.eacss .lh-50 { line-height: 50px }
.eacss .lh-49 { line-height: 49px }
.eacss .lh-48 { line-height: 48px }
.eacss .lh-47 { line-height: 47px }
.eacss .lh-46 { line-height: 46px }
.eacss .lh-45 { line-height: 45px }
.eacss .lh-44 { line-height: 44px }
.eacss .lh-43 { line-height: 43px }
.eacss .lh-42 { line-height: 42px }
.eacss .lh-41 { line-height: 41px }
.eacss .lh-40 { line-height: 40px }
.eacss .lh-39 { line-height: 39px }
.eacss .lh-38 { line-height: 38px }
.eacss .lh-37 { line-height: 37px }
.eacss .lh-36 { line-height: 36px }
.eacss .lh-35 { line-height: 35px }
.eacss .lh-34 { line-height: 34px }
.eacss .lh-33 { line-height: 33px }
.eacss .lh-32 { line-height: 32px }
.eacss .lh-31 { line-height: 31px }
.eacss .lh-30 { line-height: 30px }
.eacss .lh-29 { line-height: 29px }
.eacss .lh-28 { line-height: 28px }
.eacss .lh-27 { line-height: 27px }
.eacss .lh-26 { line-height: 26px }
.eacss .lh-25 { line-height: 25px }
.eacss .lh-24 { line-height: 24px }
.eacss .lh-23 { line-height: 23px }
.eacss .lh-22 { line-height: 22px }
.eacss .lh-21 { line-height: 21px }
.eacss .lh-20 { line-height: 20px }
.eacss .lh-19 { line-height: 19px }
.eacss .lh-18 { line-height: 18px }
.eacss .lh-17 { line-height: 17px }
.eacss .lh-16 { line-height: 16px }
.eacss .lh-15 { line-height: 15px }
.eacss .lh-14 { line-height: 14px }
.eacss .lh-13 { line-height: 13px }
.eacss .lh-12 { line-height: 12px }
.eacss .lh-11 { line-height: 11px }
.eacss .lh-10 { line-height: 10px }
.eacss .lh-9 { line-height: 9px }
.eacss .lh-8 { line-height: 8px }
.eacss .lh-7 { line-height: 7px }
.eacss .lh-6 { line-height: 6px }
.eacss .lh-5 { line-height: 5px }
.eacss .lh-4 { line-height: 4px }
.eacss .lh-3 { line-height: 3px }
.eacss .lh-2 { line-height: 2px }
.eacss .lh-1 { line-height: 1px }
.eacss .lh-0 { line-height: 0 }
.eacss .lh-01em { line-height: 0.1em }
.eacss .lh-02em { line-height: 0.2em }
.eacss .lh-03em { line-height: 0.3em }
.eacss .lh-04em { line-height: 0.4em }
.eacss .lh-05em { line-height: 0.5em }
.eacss .lh-06em { line-height: 0.6em }
.eacss .lh-07em { line-height: 0.7em }
.eacss .lh-08em { line-height: 0.8em }
.eacss .lh-09em { line-height: 0.9em }
.eacss .lh-10em,
.eacss .lh-1em { line-height: 1em }
.eacss .lh-11em { line-height: 1.1em }
.eacss .lh-12em { line-height: 1.2em }
.eacss .lh-13em { line-height: 1.3em }
.eacss .lh-14em { line-height: 1.4em }
.eacss .lh-15em { line-height: 1.5em }
.eacss .lh-16em { line-height: 1.6em }
.eacss .lh-17em { line-height: 1.7em }
.eacss .lh-18em { line-height: 1.8em }
.eacss .lh-19em { line-height: 1.9em }
.eacss .lh-2em { line-height: 2em }

.eacss .blockquote,
.eacss blockquote { display: block;
    padding: 25px 0 15px;
    font-size: 14px;
    border-left: 0;
    margin: 5px auto 10px; }
.eacss .blockquote:before,
.eacss .blockquote:after,
.eacss blockquote:before,
.eacss blockquote:after { content: "“";
    font-size: 3em;
    float: left;
    margin-right: 10px;
    font-weight: 600;
    line-height: 0.4em; }
.eacss .blockquote:after,
.eacss blockquote:after { content: "”";
    float: right;
    margin-right: 0;
    line-height: 1em; }
.eacss .sup-1 { vertical-align: 1px; }
.eacss .sup-2 { vertical-align: 2px; }
.eacss .sup-3 { vertical-align: 3px; }
.eacss .sup-4 { vertical-align: 4px; }
.eacss .sup-5 { vertical-align: 5px; }
.eacss .sup-6 { vertical-align: 6px; }
.eacss .sup-7 { vertical-align: 7px; }
.eacss .sup-8 { vertical-align: 8px; }
.eacss .sup-9 { vertical-align: 9px; }
.eacss .sup-10 { vertical-align: 10px; }
.eacss .sup-11 { vertical-align: 11px; }
.eacss .sup-12 { vertical-align: 12px; }
.eacss .sup-13 { vertical-align: 13px; }
.eacss .sup-14 { vertical-align: 14px; }
.eacss .sup-15 { vertical-align: 15px; }
.eacss .sup-16 { vertical-align: 16px; }
.eacss .sup-17 { vertical-align: 17px; }
.eacss .sup-18 { vertical-align: 18px; }
.eacss .sup-19 { vertical-align: 19px; }
.eacss .sup-20 { vertical-align: 20px; }
.eacss .sup-22 { vertical-align: 22px; }
.eacss .sup-23 { vertical-align: 23px; }
.eacss .sup-24 { vertical-align: 24px; }
.eacss .sup-25 { vertical-align: 25px; }
.eacss .sup-30 { vertical-align: 30px; }
.eacss .sup-35 { vertical-align: 35px; }
.eacss .sup-40 { vertical-align: 40px; }
.eacss .sup-45 { vertical-align: 45px; }
.eacss .sup-50 { vertical-align: 50px; }
.eacss .ls-0 { letter-spacing: 0; }
.eacss .ls-01 { letter-spacing: 0.01em; }
.eacss .ls-02 { letter-spacing: 0.02em; }
.eacss .ls-03 { letter-spacing: 0.03em; }
.eacss .ls-04 { letter-spacing: 0.04em; }
.eacss .ls-05 { letter-spacing: 0.05em; }
.eacss .ls-06 { letter-spacing: 0.06em; }
.eacss .ls-07 { letter-spacing: 0.07em; }
.eacss .ls-08 { letter-spacing: 0.08em; }
.eacss .ls-09 { letter-spacing: 0.09em; }
.eacss .ls-1 { letter-spacing: 0.1em; }
.eacss .ls-15 { letter-spacing: 0.15em; }
.eacss .ls-2 { letter-spacing: 0.2em; }
.eacss .ls-3 { letter-spacing: 0.3em; }
.eacss .ls-4 { letter-spacing: 0.4em; }
.eacss .ls-5 { letter-spacing: 0.5em; }
.eacss .ls-n01 { letter-spacing: -0.01em; }
.eacss .ls-n017,
.eacss .ls-copy { letter-spacing: -0.017em; }
.eacss .ls-n02 { letter-spacing: -0.02em; }
.eacss .ls-n025,
.eacss .ls-ttl { letter-spacing: -0.025em; }
.eacss .ls-n03 { letter-spacing: -0.03em; }
.eacss .ls-n04 { letter-spacing: -0.04em; }
.eacss .ls-n05 { letter-spacing: -0.05em; }
.eacss .ls-n06 { letter-spacing: -0.06em; }
.eacss .ls-n07 { letter-spacing: -0.07em; }
.eacss .ls-n08 { letter-spacing: -0.08em; }
.eacss .ls-n09 { letter-spacing: -0.09em; }
.eacss .ls-n1 { letter-spacing: -0.1em; }
.eacss .ls-n11 { letter-spacing: -0.11em; }
.eacss .ls-n12 { letter-spacing: -0.12em; }
