.showthething {
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
	text-decoration: none !important;
	cursor: pointer;
}
.showthething .icon {
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
.flipthething {
	transform: rotate(180deg);
	transform-origin: center 40%;
}
.thething {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    opacity: 0;
}

.thething.is-visible {
    max-height: 500px;
    opacity: 1;
}



.eacss .video {
	position: relative;
}
.eacss .video .video-js {
	background: transparent;
}
.eacss .video.autoplay .vjs-control-bar { display: none !important }

/* Hides a broken Cloudinary video */
.vjs-error { visibility: hidden !important }
/* Fixes broken Cloudinary video controls */
.vjs-icon-placeholder::before { font-family: unset !important; }
