/* Tabs fixer */
.nav-tabs > li.active > a, .additional-info .nav > li.active > a, .nav-tabs > li.active > a:hover, .additional-info .nav > li.active > a:hover, .nav-tabs > li.active > a:focus, .additional-info .nav > li.active > a:focus {
	background-color: #fff;
	color: #000;
}

/* MSS/clearance hero nav fixer */
.eacss .sub-nav a.toplevel {
	border-width: 2px;
	border-radius: 2px;
	padding: 12px;
	max-width: none;
	width: 100%;
	margin: 0 0 4px;
	font-weight: 400;
	position: relative;
	text-align: left;
}
.eacss .sub-nav a.toplevel:after {
	position: absolute;
	right: 1em;
	top: .9em;
}
.eacss .sub-nav li.open a.toplevel {
	padding-left: 2.7em;
}
.eacss .bg-mss-red .sub-nav li.open a.toplevel {
	background-color: #fff;
}
.eacss .bg-cl-yellow .sub-nav li.open a.toplevel {
	background-color: #000;
}
.eacss .sub-nav li.open a.toplevel:after,
.eacss .hoz-nav li.open a.toplevel:after {
	right: auto;
	left: .5em;
	-webkit-transform: translateX(-.1em) rotate(225deg);
    transform: translateX(-.1em) rotate(225deg);
}
.eacss .hoz-nav li.open a.toplevel {
	float: left;
}
.eacss .bg-mss-red .sub-nav a.toplevel:hover,
.eacss .bg-mss-red .sub-nav li.open a.toplevel {
	color: #db1625;
}
.eacss .bg-mss-red .sub-nav a.toplevel:hover:after,
.eacss .bg-mss-red .sub-nav li.open a.toplevel:after {
	border-color: #db1625;
}
.eacss .bg-cl-yellow .sub-nav a.toplevel:hover,
.eacss .bg-cl-yellow .sub-nav li.open a.toplevel {
	color: #f8c31f;
}
.eacss .bg-cl-yellow .sub-nav a.toplevel:hover:after,
.eacss .bg-cl-yellow .sub-nav li.open a.toplevel:after {
	border-color: #f8c31f;
}
.eacss .sub-nav ul li a {
	border-radius: 2px;
	padding: 10px;
	padding-left: 3.5em;
	max-width: none;
	width: 100%;
	margin: 0 0 3px;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	text-align: left;
}
.eacss .sub-nav ul li a:hover {
	background-color: rgba(255,255,255,0.2)
}
.eacss .sub-nav ul li a.cta-solid-color.cta-arrow:after,
.eacss .sub-nav ul li a.cta-solid-color-l.cta-arrow:after {
	border-color: rgba(255,255,255,0);
	position: absolute;
	right: 5em;
	top: .9em;
}
.eacss .sub-nav ul li a.cta-solid-color.cta-arrow:hover:after {
	border-color: rgba(255,255,255,1);
	right: 1em;
}
.eacss .sub-nav ul li a.cta-solid-color-l.cta-arrow:hover:after {
	border-color: rgba(0,0,0,1);
	right: 1em;
}
/* MSS/clearance hero NEW NAV */
.eacss .mo-nav a.toplevel {
	padding: 12px;
	max-width: none;
	width: 100%;
	margin: 0 0 4px;
	font-weight: 400;
	position: relative;
	text-align: left;
}
.eacss .mo-nav a.toplevel:after {
	position: absolute;
	right: 1em;
	top: 1.1em;
}
.eacss .mo-nav li.open a.toplevel {
	padding-left: 2.7em;
}
.eacss .bg-mss-red .mo-nav li.open a.toplevel {
	background-color: #671004;
	color: #fff !important;
}
.eacss .bg-cl-yellow .mo-nav li.open a.toplevel {
	background-color: #000;
}
.eacss .mo-nav li.open a.toplevel:after {
	right: auto;
	left: .5em;
	-webkit-transform: translateX(-.1em) rotate(225deg);
    transform: translateX(-.1em) rotate(225deg);
}
.eacss .bg-cl-yellow .mo-nav a.toplevel:hover,
.eacss .bg-cl-yellow .mo-nav li.open a.toplevel {
	color: #f8c31f;
}
.eacss .bg-cl-yellow .mo-nav a.toplevel:hover:after,
.eacss .bg-cl-yellow .mo-nav li.open a.toplevel:after {
	border-color: #f8c31f;
}
.eacss .mo-nav ul li a {
	border-radius: 2px;
	padding: 10px;
	padding-left: 3.5em;
	max-width: none;
	width: 100%;
	margin: 0 0 3px;
	font-size: 18px;
	font-weight: 400;
	position: relative;
	text-align: left;
}
.eacss .mo-nav ul li a:hover {
	background-color: rgba(255,255,255,0.2)
}
.eacss .mo-nav ul li a.cta-solid-color.cta-arrow-small:after,
.eacss .mo-nav ul li a.cta-solid-color-l.cta-arrow-small:after {
	border-color: rgba(255,255,255,0);
	position: absolute;
	right: 5em;
	top: .9em;
}
.eacss .mo-nav ul li a.cta-solid-color.cta-arrow-small:hover:after {
	border-color: rgba(255,255,255,1);
	right: 1em;
}
.eacss .mo-nav ul li a.cta-solid-color-l.cta-arrow-small:hover:after {
	border-color: rgba(0,0,0,1);
	right: 1em;
}
.eacss .cta-solid.cta-arrow:hover:after, .eacss .focus:hover .cta-solid.cta-arrow:after, .eacss .cta-solid-color.cta-arrow:hover:after, .eacss .focus:hover .cta-solid-color.cta-arrow:after {
	border-color: #fff;
}
.eacss .cta-solid-color:hover, .eacss .focus:hover .cta-solid-color {
	background: rgba(0,0,0,0.4);
}
.eacss .cta-arrow-white:after {
	font-size: .8em;
	margin-left: 0.3em;
}
@media only screen and (max-width : 767px) {
	.eacss .sub-nav li.m-hide,
	.eacss .mo-nav li.m-hide {
		display: none !important;
	}
	.content.additional-info p {
		width: auto !important;
	}
}

/* Rory's ghetto accordion (which is actually nicer than the plugin one) */
.showthething {
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
	text-decoration: none !important;
	cursor: pointer;
}
.showthething .icon {
	-moz-transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
	transition: transform 0.5s;
}
.flipthething {
	transform: rotate(180deg);
	transform-origin: center 40%;
}

/* Dynamic Catleader Nav */
.dynamicCatleaderSlider {
	scroll-behavior: smooth; 
}
.dynamicCatleaderSlider::-webkit-scrollbar {
	-webkit-appearance: none;
}
.dynamicCatleaderSlider {
	-webkit-overflow-scrolling: auto;
}
.dynamicCatleaderSlider::-webkit-scrollbar:horizontal {
	height: 4px !important;
}

.dynamicCatleaderSlider::-webkit-scrollbar-thumb {
	background: lightgray;
	background-clip: padding-box;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
} 

@media screen and (max-width: 767px) {
	.dynamicCatleaderSlider::-webkit-scrollbar-thumb {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	} 
}

.eacss .video {
	position: relative;
}
.eacss .video .video-js {
	background: transparent;
}
.eacss .video.autoplay .vjs-control-bar { display: none !important }

/* Hides a broken Cloudinary video */
.vjs-error { visibility: hidden !important }
/* Fixes broken Cloudinary video controls */
.vjs-icon-placeholder::before { font-family: unset !important; }

/* Show/hide if logged in */
body.loggedin .user-hide,
body:not(.loggedin) .user-show {
	display: none
}
body.loggedin .user-show,
body:not(.loggedin) .user-hide {
	display: block
}
body.loggedin span.user-show,
body:not(.loggedin) span.user-hide {
	display: inline
}
body.loggedin [class*="cta-"].user-show,
body:not(.loggedin) [class*="cta-"].user-hide {
	display: inline-block
}
